// @font-face {
//   font-family: 'YanoljaYacheR';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Yeongdeok-Snow-Crab';
  src: url('./src/assets/Yeongdeok-Snow-Crab.ttf') format('truetype');
}


.Neon {
  pointer-events: all;
  user-select: none;
  // font: 400 var(--font-size) 'YanoljaYacheR';
  font: 400 var(--font-size) 'Yeongdeok-Snow-Crab';
  color: #fee;
  text-shadow: 
    0 calc(var(--font-size)*-0.4) var(--font-size), 
    0 0 calc(var(--font-size)*0.1) #000,
    0 0 calc(var(--font-size)*0.15) #000,
    0 0 calc(var(--font-size)*0.01) #000,
    0 calc(var(--font-size)*0.05) calc(var(--font-size)*0.03) #000;

  &.on{
    text-shadow: 
    0 calc(var(--font-size)*-0.4) var(--font-size), 
    0 0 calc(var(--font-size)*0.02), 
    0 0 calc(var(--font-size)*0.1) skyblue,
    0 0 calc(var(--font-size)*0.15) skyblue,
    0 0 calc(var(--font-size)*0.01) skyblue,
    0 calc(var(--font-size)*0.1) calc(var(--font-size)*0.03) #000;
  }
  // &.on{
  //   box-shadow: 
  //   0 calc(var(--font-size)*-0.4) var(--font-size), 
  //   0 0 calc(var(--font-size)*0.08), 
  //   0 0 calc(var(--font-size)*0.4) #ff4444,
  //   0 0 calc(var(--font-size)*0.6) #ff4445,
  //   0 0 calc(var(--font-size)*0.04) #ff4444,
  //   0 calc(var(--font-size)*0.1) calc(var(--font-size)*0.03) #000;
  //   text-shadow: 
  //   0 calc(var(--font-size)*-0.4) var(--font-size), 
  //   0 0 calc(var(--font-size)*0.08), 
  //   0 0 calc(var(--font-size)*0.4) #ff4444,
  //   0 0 calc(var(--font-size)*0.6) #ff4445,
  //   0 0 calc(var(--font-size)*0.04) #ff4444,
  //   0 calc(var(--font-size)*0.1) calc(var(--font-size)*0.03) #000;
  // }
}