// @font-face {
//   font-family: 'YanoljaYacheR';
//   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YanoljaYacheR.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Yeongdeok-Snow-Crab';
  src: url('./src/assets/Yeongdeok-Snow-Crab.ttf') format('truetype');
}


.Neon {
  pointer-events: all;
  user-select: none;
  // font: 400 var(--font-size) 'YanoljaYacheR';
  font: 400 var(--font-size) 'Yeongdeok-Snow-Crab';
  color: #fee;
  text-shadow: 
    0 calc(var(--font-size)*-0.4) var(--font-size), 
    0 0 calc(var(--font-size)*0.1) #000,
    0 0 calc(var(--font-size)*0.15) #000,
    0 0 calc(var(--font-size)*0.01) #000,
    0 calc(var(--font-size)*0.05) calc(var(--font-size)*0.03) #000;

  &.selected{
    text-shadow: 
    0 calc(var(--font-size)*-0.4) var(--font-size), 
    0 0 calc(var(--font-size)*0.08), 
    0 0 calc(var(--font-size)*0.4) #8BADD5,
    0 0 calc(var(--font-size)*0.6) #8BADD5,
    0 0 calc(var(--font-size)*0.04) #8BADD5,
    0 calc(var(--font-size)*0.1) calc(var(--font-size)*0.03) #000;
  }
  &.able{
    text-shadow: 
    0 calc(var(--font-size)*-0.4) var(--font-size), 
    0 0 calc(var(--font-size)*0.08), 
    0 0 calc(var(--font-size)*0.4) yellowgreen,
    0 0 calc(var(--font-size)*0.6) yellowgreen,
    0 0 calc(var(--font-size)*0.04) yellowgreen,
    0 calc(var(--font-size)*0.1) calc(var(--font-size)*0.03) #000;
  }
  &.current{
    text-shadow: 
    0 calc(var(--font-size)*-0.4) var(--font-size), 
    0 0 calc(var(--font-size)*0.08), 
    0 0 calc(var(--font-size)*0.4) #F9BB3B,
    0 0 calc(var(--font-size)*0.6) #F9BB3B,
    0 0 calc(var(--font-size)*0.04) #F9BB3B,
    0 calc(var(--font-size)*0.1) calc(var(--font-size)*0.03) #000;
  }
}