.hand{
    box-sizing: border-box;
}
.handcards{
    display: flex;
    transition: all ease 1s;
    box-sizing: border-box;
}
.hand:hover .handcards, .handcards:hover{
    transform: translateY(-220px);
}

.handcards.clicked{
    position: absolute;
    top: 50vh;
    left: 50vw;
}



.front {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}
.back {
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.55);
}

.card {
    box-sizing: border-box;
    transition: all ease 1s;
    width: 200px;
    height: 300px;
}
.flip{
    perspective: 1100px;
}
.flip .card{
    transform-style: preserve-3d;
    transform: rotateY( 0deg );
}
.flip.clicked .card{
    transform: rotateY( 180deg );
}

.content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
}

.content_container{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
}

.small{
    font-size: 10px;
    font-weight: 600;
    color: #ADBF24;
}
.big{
    font-size: 20px;
    font-weight: 600;
}
.stars{
    font-size: 10px;
}

.background{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
}


.top{
    flex:3;
    border-radius: 10px 10px 0 0;
    background-color: #635348;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    font-size: 32px;
    font-weight: 600;
}
.mid{
    flex:1;
}
.bot{
    flex:3;
    border-radius: 0 0 10px 10px;
}