.Main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    /* background-color:black; */
    background-image: url(../../assets/보드게임카페6.jpg);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.web{
    display: flex;
}

.room{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.enter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 15%;
    margin-right: 5%;
    margin-left: 5%;
    /* border: solid; */
    /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
    border-radius: 20px;
    transition: all .3s;

  }
  
  .enter2 {
    height: 100%;
    width: 100%;
    /* background-color: #1a1a1a; */
    background-color: #4925177e;
    border-radius: 10px;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .enter3{
    height: 100%;
    width: 100%;
    /* background-color: #1a1a1a; */
    border-radius: 10px;
    transition: all .2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .enter2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }
  
  .enter:hover {
    /* box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30); */
    box-shadow: 0px 0px 30px 1px rgba(150, 41, 13, 0.493);
  }
/* --------------------------------페이지 css--------------------------- */
/* .enter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 20%;
    margin-left: 5%;
    border: solid;
    color: black;
} */
/* ----------------모달 css------------------------------------- */

.modal{
    display: flex;
    flex-direction: column;
    /* border:solid; */
    /* border-radius: 10px; */
    position: absolute;
    height: 60%;
    width: 20%;
    background-color: white;
    z-index: 1;
}
/* 
.room-btn-div{
    display: flex;
    justify-content: flex-end;
}

.room-btn{
    flex-direction: column;
    align-items: center;
    width: 5%;
}

.modal-title{
    display: flex;
    justify-content: center;
}

.modal-enter{
    display: flex;
} */

/*  */
.form-container {
    height: 60%;
    width: 40%;
    /* width: 400px; */
    background-color: white;
    box-shadow: black 5px 5px;
    /* background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box; */
    border: 2px solid transparent;
    padding: 0px 24px;
    font-size: 14px;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    position: absolute;
  }

  .form-capacity{
    display: flex;
    justify-content: space-around;
  }

  .form-exit{
    display: flex;
    justify-content: end;
    color: #414141;
    border: transparent;
  }
  .form-exit:hover{
    border-color: black;
  }

  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column; 
    gap: 7px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 0px;
    border-radius: 8px;
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    /* border-color: #e81cff; */
    border: 2px solid black;
  }
  
  .form-container .form-submit-btn1 {
    display: flex;
    justify-content: center;
  }
  .form-container .form-submit-btn2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: white;
    font-weight: 600;
    width: 40%;
    background: #313131;
    border: 1px solid #414141;
    padding: 12px 12px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn2:hover {
    background-color: #fff;
    border-color: #fff;
    color: black;
  }
  
  
  
  