.WebMain{
    background-image: url('./boardcafe1.jpg');

    background-size: cover;
    /* backdrop-filter: blur(30px); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
}
.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40%;
  /* background-image: url('./cardFactory.jpg'); */
  /* background-size: cover; */
}
.webbox {
    /* border: 2px solid black; */
    border-radius: 6px;
    width: 200px;
    height: 300px;
    margin-top: 20%;
    margin-left: 15%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    animation: closeDoor 2s ease-in-out;
    transform-origin: right center;
}
/* .webbox:hover {

  animation: openDoor 1s ease-in-out;
  transform-origin: left center;
} */

.webbox.open {
  animation: openDoor 1s ease-in-out;
  transform-origin: right center;
}
.webbox:not(.open):hover {
  transform: none;
}
/* .webbox:not(:hover) {

} */

@keyframes openDoor {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-90deg);
  }
}
@keyframes closeDoor {
    0% {
        transform: rotateY(-90deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}


.boxlayout2 {
    margin-top: 20%;
}

.boxlayout1 {
    /* margin-top: 10%; */
    background-image: url('./cardFactoryy.png');
    background-size: cover;
    /* width: 300px;
    height: 500px; */
    /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2); */
 

    
}
.boxlayout1.open {

  }
  
  .boxlayout1.delayed {
    transition-delay: 2s; /* 문이 열린 후에 이동될 딜레이 시간 */
  }
  

/* WebMain.css */
/* .webbox:hover {
  transform: translateY(-10px);
} */



.door {
    margin-Left: 35%;
    margin-top: 5%;
    width: 300px;
    height: 400px;
    /* background-color: brown; */
    animation: openDoor 2s ease-in-out;
    transform-origin: right center;
  }
  
  /* @keyframes openDoor {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-90deg);
    }
  } */

  .carddeck {
    border: 2px solid black;
    border-radius: 6px;
    width: 5vw;
    height: 12vh;
    background-color: khaki;
    position: relative; /* Make sure the position is relative */
    box-shadow: 0px 4px 8px rgba(0,0,0,0.7);
    margin-left: 5px;
    margin-top: 30px;
  }
  
  .carddeck:before,
  .carddeck:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 44%; /* Adjust the height of the top and bottom sections */
  }
  
  .carddeck:before {
    background-color: #635348;
    top: 0;
  }
  
  .carddeck:after {
    background-color: #DED966;
    bottom: 0;
  }
  
  .carddeck .middle-section {
    background-color: #ADBF24;
    position: absolute;
    top: 40%; /* Adjust the position to place it between the top and bottom sections */
    width: 100%;
    height: 16%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-right: 10%;
  }
  
  .carddeck .content {
    position: relative;
    /* padding: 5px; */
    z-index: 1;
    padding-left: 1vw;
    padding-top: 1vh;
    font-weight: bold;
  
  }
  
  .carddecktitled {
    font-size:10px;
    text-align: center;
    transform: scale(0.5);
    margin-right: 10px;
    width: 100px;
    margin-left:-30px;
  }
  
  .card-decks-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .carddeck {
    width: 100%;
    /* padding: 10px; */
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .card-info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  
  .main-title {
    font-size: 10px;
    transform: scale(0.6);
    margin-bottom: 5px;
  }
  
  .sub-title {
    font-size: 10px;
    transform: scale(0.7);
    text-align: center;
  }
  
  .card-img {
    width: 20px;
    height: 30px;
  }