.Container {
  width: 100vw; height: 100vh;
  background-image: url(./GameRoom.png); background-size: cover;

  --table-diameter: 3000px;
  --table-radius: calc(var(--table-diameter)/2);

  display: flex; justify-content: center;
  pointer-events: none;

  overflow: hidden;
}



.filter{
  position: absolute;
  width: 100vw; height: 100vh;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.Perspective1{
  display: flex; justify-content: center;
  translate: 0 -50px;
}
.Perspective2{
  transform-style: preserve-3d;
  display: flex; justify-content: center;
  align-items: end;
  perspective: 1000px;
}

.Rotater{
  position: absolute;
  transform-style: preserve-3d;;
  
  display: flex;
  justify-content: center;
  align-items: center;

  transition: rotate 1s;
}
.RotateButtonContainer{
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}

.SelectedCardContainer{
  position: absolute;
  display: flex;
  // justify-content: center;
  align-items: end;
  left: 0;
}

.CardTogglerHolder{
  position: absolute;
  top:275px;
}

.SelectedCard{
  position: absolute;
  left: 100px;
  top: 200px
}

.Table{
  position: absolute;
  transform-style: preserve-3d;
  width: var(--table-diameter);
  height: var(--table-diameter);
  border-radius: var(--table-radius);
  
  background-image: url('./table.jpg');
  rotate: 1 0 0 90deg;

  box-shadow: 0 0 100px #000;

}

.PubUI{
  position: absolute;
  left: 0;
  bottom: 0;

  z-index: 10;
}

.PubTogglersContainer{
  position: absolute;
  z-index: 10;
  bottom: 250px;

}

.SubUI{
  transform-style: preserve-3d;
  position: absolute; bottom: 0;

  --rotate-y: 0deg;
  --translate-x: 0;
  --translate-z: 0;

  rotate: y var(--rotate-y);
  translate: calc(var(--table-radius) * var(--translate-x)) 0 calc(var(--table-radius) * var(--translate-z));
  display: flex; justify-content: center;
}


.SubHands{
  position: absolute;
  bottom: 0;
  translate: 0 -20px 30px;
  display: flex; justify-content: center;
}

.SubPoints{
  position: absolute;
  bottom: 0;
  
  transform-origin: bottom;
  transform: 
  rotateX(-90deg)
  translateZ(-10px)
  ;

  display: flex; justify-content: center;
}

.PubPoints{
  position: absolute;
  bottom: 0;
  transform-origin: bottom;
  transform: 
  rotateX(90deg)
  translateZ(1px)
  ;

  display: flex; justify-content: center;
}


.StartButtonHolder{
  position: absolute;
  bottom: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: end;
  z-index: 10;
}
.SelectPlayerButtonHolder{
  position: absolute;
  margin-bottom: 60px;
  bottom: 0;
  translate: 0 -20px 60px;
}
.ReplyButtonHolder{
  position: absolute;
  margin-bottom: 60px;
  bottom: 0;
  translate: 0 -20px 60px;
}

.PubHandsContainer{
  position: absolute;
  width: 100vw;
  height: 230px;
  bottom: 0;
  display: flex;
  justify-content: center;
  // filter: 
  // drop-shadow(-4px -4px 10px #fff) 
  // drop-shadow(0 0 2px #fff) 
  // drop-shadow(0 0 10px yellowgreen) 
  // drop-shadow(0 0 15px yellowgreen)
  // drop-shadow(0 0 10px yellowgreen)
  // drop-shadow(0 10px 3px #000);
}
.HandTogglerHolder{
  position: absolute;
  bottom: 20px;
}

.PubHands{
  position: absolute;
  display: flex;
}

.SelectCardButtonHolder{
  position: absolute;
  bottom: 60px;
  z-index: 10;
}