#inputbox {
    display: flex;
    justify-content: center;
    margin: 3%;
  }
  
  .search {
    font-weight: bold;
    font-size: 18px;
  }
  
  .inputtag {
    border: 5px solid whitesmoke;
    width: 400px;
  }
  #marin {
    margin: 10px;
    padding: 10px 20px 10px;
  }
  .gridcard {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); /* 4개의 열을 만듭니다. */
    gap: 5%; /* 각 셀 사이의 간격을 줍니다. */
    margin: 5%;
  
  }
  #cardboard {
    border: 2px solid beige;
    background-color: beige;
    margin: 5%;
    border-radius: 4px;
    width: 220px;
    height: 330px;
  }
  .pcard-container {

    padding: 10px;
    margin-bottom: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
  }
  
  .pcard-header {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .pcard-footer {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: bold;
  }

  .introbox {
  border: 2px solid whitesmoke;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
}

.profilebox {
  border: 2px solid whitesmoke;
  width: 100px;
  margin-left: 5%;
  height: 100px;
}

.profilebox2 {
  border: 2px solid whitesmoke;
  width: 90px;

  margin: 5%;
  height: 90px;
}

.reviewbox {
  border: 2px solid whitesmoke;
  width: 400px;
  margin-left: 3.3%;
  height: 100px;

}

.reviewsbox {
  border: 2px;
  width: 100%;
  height: 110px;
  float: left;

}

.buttonbox {
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 5px;
  float: right;
  margin-right: 5%;


}


.gridprivate {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.userprofile {
  border: 2px solid whitesmoke;
  width: 350px;
  height: 400px;
  margin: 32.6062px;
  padding: 2%;
  background-color: beige;
}

.introboxs {
  margin-top: 32.6062px;
  border: 2px solid whitesmoke;
  /* margin-left: 5%;
  margin-right: 5%; */
  height: 500px;
  width: 600px;
  background-color: beige;

}
.deckmargin {
  margin-left: 50px;

}

.gridX {

  display: flex;
  margin-left: 50px;
  margin-right: 50px;

}

.nickname {
  margin: 5%;
  width: 300px;

  font-weight: bold;
  font-size: 40px;
}

.gridrow {
  border: 2px;
  width: 80px;
  height: 70px;
  display: grid;
  grid-column: 1fr 1fr;
  padding-top:5%;
}

.buttonoption {
  width: 75px;
  height: 30px;
  margin-right: 50px;
}


/* 덱 상세 소개 */
/* 
.introbox {
  border: 2px solid whitesmoke;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
}

.profilebox {
  border: 2px solid whitesmoke;
  width: 100px;
  margin-left: 5%;
  height: 100px;
}

.profilebox2 {
  border: 2px solid whitesmoke;
  width: 90px;

  margin: 5%;
  height: 90px;
}

.reviewbox {
  border: 2px solid whitesmoke;
  width: 500px;
  margin-left: 3.3%;
  height: 100px;
}

.reviewsbox {
  border: 2px;
  width: 100%;
  height: 110px;
  float: left;
}

.buttonbox {
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  float: right;
  margin-right: 5%;


}

.gridprivate {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.userprofile {
  border: 2px solid whitesmoke;
  width: 650px;
  height: 550px;
  margin: 32.6062px;
  padding: 2%;
  background-color: beige;
}

.introboxs {
  margin-top: 32.6062px;
  border: 2px solid whitesmoke; */
  /* margin-left: 5%;
  margin-right: 5%; */
  /* height: 1000px;
  width: 1100px;
  background-color: beige;

}
.deckmargin {
  margin-left: 50px;

}

.gridX {

  display: flex;
  margin-left: 50px;
  margin-right: 50px;

}

.nickname {
  margin: 5%;
  width: 300px;

  font-weight: bold;
  font-size: 40px;
}

.gridrow {
  border: 2px;
  width: 80px;
  height: 70px;
  display: grid;
  grid-column: 1fr 1fr;
  padding-top:5%;
}

.buttonoption {
  width: 75px;
  height: 30px;
  margin-right: 50px;
} */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.arrow-button {
  cursor: pointer;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.active {
  font-size: 18px;
  font-weight: bold;
  color: blue;
}
.Deckbox {
  position: absolute; /* fixed에서 absolute로 변경 */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  z-index: 9999;
  width: 400px;
  height: 500px;
}



/* 추가: 배경에 불투명한 레이어 */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* 전체 화면 크기와 같도록 설정 */
  height: 100%; /* 전체 화면 크기와 같도록 설정 */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: flex; /* 내부 요소를 가운데 정렬하기 위해 flexbox 사용 */
  justify-content: center; /* 가로 가운데 정렬 */
  align-items: center; /* 세로 가운데 정렬 */
}
#factory {
  border: 2px solid whitesmoke;
  background-color: beige;
  margin: 5%;
  width: 500px;
  height: 570px;
  border-radius: 4px;
}
