


.introbox {
  border: 2px solid navy;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
}

.profilebox {
  border: 2px solid navy;
  width: 100px;
  margin-left: 5%;
  height: 100px;
}

.profilebox2 {
  border: 2px solid navy;
  width: 75px;

  margin: 5%;
  height: 75px;
}

.reviewbox {
  border: 2px solid navy;
  width: 330px;
  margin-left: 3.3%;
  margin-top : 3.3%;
  height: 100px;
}

.reviewsbox {
  border: 2px;
  width: 100%;
  height: 110px;
  float: left;
}

.button {
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 13px;
  float: right;
  margin-right: 5%;
  


}

.gridprivate {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.userprofile {
  border: 2px solid navy;
  width: 500px;
  height: 450px;
  margin: 32.6062px;
  padding: 2%;
  background-color: beige;
}

.introboxs {
  margin-top: 32.6062px;
  border: 2px solid navy;
  /* margin-left: 5%;
  margin-right: 5%; */
  height: 300px;
  width: 700px;
  background-color: beige;

}
.deckmargin {
  margin-left: 50px;

}

.gridX {

  display: flex;
  margin-left: 50px;
  margin-right: 50px;

}

.nickname {
  margin: 5%;
  width: 200px;

  font-weight: bold;
  font-size: 20px;
}

.gridrow {
  border: 2px;
  width: 80px;
  height: 70px;
  display: grid;
  grid-column: 1fr 1fr;
  padding-top:5%;
}

.buttonoption {
  width: 75px;
  height: 30px;
  margin-right: 50px;
}

.cardimg {
  border: 2px solid navy;
  width: 180px;
  height: 270px;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;

}

.exp {
  border: 2px solid navy;
  height: 30px;
  position: relative; /* exp 상자를 기준으로 expbar를 배치하기 위해 position 속성을 추가 */

}

.expbar {
  height: 100%;
  background-color: yellowgreen;

  position: absolute; 
  top: 0; 
  left: 0; 

}

.margin {
  margin-right: 5%;
  border: 2px;
  font-weight: bold;
  padding-top: 5%;
}

.tran {
  padding-top: 20%;

}
.trans {
  float: right;

}


/* 카드만들기 상세 모달 css */

/* .makebox {
  margin-left: 20px;
  border: 2px;
  width: 200px;
  height: 400px;
}

.showingbox {
  border: 2px solid navy;
  border-radius: 6px;
  width: 200px;
  height: 50px;
}

.imagebox {
  border: 2px solid navy;
  width: 200px;
  height: 200px;

}
.button {
  border-radius: 6px;
  width: 80px;
  height: 30px;
}
.buttoncontain {
  display: flex;
  justify-content: center; 
} */

/* .introducebox {
  border: 2px solid navy;
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.align {
  text-align: center;
} */


/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

/* 모달 내용 스타일 */
.modal-content h2 {
  margin-top: 0;
}

.modal-content input {
  width: 60%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

.modal-content button {
  background-color: beige;
  color: black;
  padding: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.modal-content button:hover {
  background-color: #2980b9;
}