.FirstPersonView{
    overflow: hidden;
    position: absolute;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;

    // perspective: calc(var(--unit)*4);
    
    // perspective: 300vh;
    perspective: 200vh;
}
.FirstPersonView * {
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.Perspective{
    display: flex;
    justify-content: center;
    // perspective: calc(var(--unit)*1);
    

    // perspective: 2500px;
    perspective: 200vh;
}

.Rotater{
    display: flex;
    justify-content: center;
    transition: all 1s;
    rotate: y var(--viewAngle);    translate: 0 calc(var(--unit)*-0.3) 0;
}