.nickname{
    color:white;
    font-size: 2rem;
}

.OpponentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-style: preserve-3d;


    position: absolute;
    transform: 
    rotateY(calc(( var(--angle) - 90)*1deg))
    ;
    translate: 
    calc(var(--cos) * var(--unit)) 
    calc(var(--unit)/5) 
    calc(var(--sin) * var(--unit))
    ;
}

.OpponentHand{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    transform-style: preserve-3d;
    scale: 0.7;
    translate: 0 calc(var(--unit)*-0.03) 0;
    backface-visibility: hidden;
}

.OpponentEnrolled{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(90deg);
    translate: 0 calc(var(--unit)*0.79) calc(var(--unit)*3/5);
    scale: 0.7;
    // background-color: rgba(1, 1, 1, 1);
    // background-color: tomato;
    width: 1000px;
    height: 10px;
    
}