@font-face {
  font-family: 'YeongdeokBlueroad';
  src: url(../src/assets/YeongdeokBlueroad.ttf);
}

:root{
  font-family:'YeongdeokBlueroad';
}


a {
  font-family: 'YeongdeokBlueroad';
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: none;
}
a:hover {
  /* color: #535bf2; */
  color: black;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'YeongdeokBlueroad';
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: transparent;
  border: solid 0.5px;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

