


.introbox {
  border: 2px solid black;
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
}

.profilebox {
  border: 2px solid black;
  width: 100px;
  margin-left: 5%;
  height: 100px;
}

.profilebox2 {
  border: 2px solid black;
  width: 90px;

  margin: 5%;
  height: 90px;
}

.reviewbox {
  border: 2px solid black;
  width: 500px;
  margin-left: 3.3%;
  height: 100px;
}

.reviewsbox {
  border: 2px;
  width: 100%;
  height: 110px;
  float: left;
}

.buttonbox {
  width: 100px;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
  float: right;
  margin-right: 5%;


}

.gridprivate {
  display: flex;
  grid-template-columns: 1fr 1fr;
}

.userprofile {
  border: 2px solid black;
  width: 650px;
  height: 550px;
  margin: 32.6062px;
  padding: 2%;
  background-color: silver;
}

.introboxs {
  margin-top: 32.6062px;
  border: 2px solid black;
  /* margin-left: 5%;
  margin-right: 5%; */
  height: 1000px;
  width: 1100px;
  background-color: silver;

}
.deckmargin {
  margin-left: 50px;

}

.gridX {

  display: flex;
  margin-left: 50px;
  margin-right: 50px;

}

.nickname {
  margin: 5%;
  width: 300px;

  font-weight: bold;
  font-size: 40px;
}

.gridrow {
  border: 2px;
  width: 80px;
  height: 70px;
  display: grid;
  grid-column: 1fr 1fr;
  padding-top:5%;
}

.buttonoption {
  width: 75px;
  height: 30px;
  margin-right: 50px;
}

.cardimg {
  border: 2px solid black;
  width: 180px;
  height: 270px;
}

.grids {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5%;

}

.exp {
  border: 2px solid black;
  height: 30px;
  position: relative; /* exp 상자를 기준으로 expbar를 배치하기 위해 position 속성을 추가 */

}

.expbar {
  height: 100%;
  background-color: yellowgreen;
  width: 75%; 
  position: absolute; 
  top: 0; 
  left: 0; 

}

.margin {
  margin-right: 5%;
  border: 2px;
  font-weight: bold;
  padding-top: 5%;
}

.tran {
  padding-top: 20%;

}
.trans {
  float: right;

}


/* 카드만들기 상세 모달 css */

/* .makebox {
  margin-left: 20px;
  border: 2px;
  width: 200px;
  height: 400px;
}

.showingbox {
  border: 2px solid black;
  border-radius: 6px;
  width: 200px;
  height: 50px;
}

.imagebox {
  border: 2px solid black;
  width: 200px;
  height: 200px;

}
.button {
  border-radius: 6px;
  width: 80px;
  height: 30px;
}
.buttoncontain {
  display: flex;
  justify-content: center; 
} */

/* .introducebox {
  border: 2px solid black;
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.align {
  text-align: center;
} */