.Card, .Card *{
    --border-radius: calc(var(--w) * 0.05);
    --w: var(--width);
    --h: var(--height);
    
    --top-background-color:#635348;
    --mid-background-color:#ADBF24;
    --bot-background-color:#DED966;
}


.Card{
    transition: all 1s;
    display: flex;
    width: var(--w);
    height: var(--h);
  
    border-radius: var(--border-radius);
    transform-origin: center;

    transform-style: preserve-3d;
    &.flipped{
        transform: rotateY(180deg);
    }
    width: var(--w);
    height: var(--h);
    
    
    
    // 드래그 못하게 하기
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    perspective: 300vh;
}
