.togglerInner, .togglerOuter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.togglerOuter {
  pointer-events: all;

  position: relative;

  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size)/2);
  
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);  
  
  transition: box-shadow 0.3s;
  &:active{
    box-shadow: 0 0 0 rgba(0,0,0,0.3);  
    .rotaterInner{
      box-shadow: 0 0 0 rgba(0,0,0,0.3);
    }
  }
}

.togglerInner {
  width: calc(var(--size)*3/4);
  height: calc(var(--size)*3/4);
  border-radius: calc(var(--size)*3/8);
  
  font-size: 2rem;

  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  transition: box-shadow 0.3s;
}
