.Background{

    position: absolute;

    width: var(--w);
    height: var(--h);
    
    border-radius: var(--border-radius);
    
    
    display: flex;
    flex-direction: column;

    
  
    .Top{
      flex: 3;
      background-color: var(--top-background-color);
      border-radius: var(--border-radius) var(--border-radius) 0 0 ;

      color:white;
      font-size: calc( var(--border-radius) * 3);
      
      display: flex;
      justify-content: center;
      align-items: end;
    }
    .Mid{
      flex: 1;
      background-color: var(--mid-background-color);
    }
    .Bot{
      flex: 3;
      background-color: var(--bot-background-color);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}